@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/manrope/v13/xn7_YHE41ni1AdIRqAuZuw1Bx9mbZk79FN_C-bnTfc7AGrY.woff2)
      format("woff2");
}

:root {
    --black: #101010;
    --ink: #303030;
    --charcoal: #7B7B7B;
    --greige: #DADADA;
    --newsprint: #f4f3f1;
    --white: white;
    
    --ff-pri:"Manrope";
    --mg-top:64px;
  }


[data-theme="light"]{ 
    --fg-primary:var(--ink);
    --fg-secondary:var(--charcoal);
    --bg-canvas: var(--newsprint);
    --dash: 1px dashed var(--greige);
    --carpet-opacity:1;
}

[data-theme="dark"]{      
    --fg-primary:var(--newsprint);
    --fg-secondary:var(--charcoal);
    --bg-canvas: var(--black);
    --dash: 1px dashed var(--ink);
    --carpet-opacity:.2;

}